/* Reset margins, paddings, and box sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family:"Spectral",serif;
}
/* Cursor pointer style for elements with cursor-pointer class */
.cursor-pointer {
    cursor: pointer;
}

/* Border style for elements with border class */
.border {
    border: 2px solid black;
}

/* Flexbox common classes */
.flex {
    display: flex;
}

/* Underline style for elements with underline class */
.underline {
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: all 0.2s ease;
}

/* Hover effect for underline class */
.underline:hover {
    text-underline-offset: 4px;
}

/* Center items vertically in flexbox */
.items-center {
    align-items: center;
}

/* Center items horizontally in flexbox */
.justify-center {
    justify-content: center;
}

/* Align items to the end in flexbox */
.justify-end {
    justify-content: end;
}

/* Add a 1rem gap between flexbox items */
.gap-2 {
    gap: 1rem;
}

/* Set flex direction to column */
.flex-col {
    flex-direction: column;
}

/* Text color classes */
.text-black {
    color: black;
}
.text-white {
    color: white;
}

/* Background color for Background color classes */
.bg-black {
    background-color: black;
}
.bg-white {
    border-left: white;
}

/* Padding for Padding classes */
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* Transition class for Transition all classes */
.transition-all {
    transition: all 0.3s ease;
}

/* Text alignment for text center classes */
.text-center {
    text-align: center;
}

/* Font size for text nxl or sm classes */
.text-xl {
    font-size: 1.5rem;
}
.text-2xl {
    font-size: 2rem;
}
.text-3xl {
    font-size: 2.5rem;
}
.text-4xl {
    font-size: 3rem;
}
.text-sm {
    font-size: 0.8rem;
}

/* Font weight for font bold class */
.font-bold {
    font-weight: bold;
}

/* Flexbox alignment for justify start classes */
.justify-start {
    justify-content: start;
}

/* Padding classes */
.p-4 {
    padding: 1rem;
}
.p-3 {
    padding: 0.8rem;
}

/* Font family for various font classes */
.font-mono {
    font-family: monospace;
}
.font-serif {
    font-family: sans-serif;
}

/* Center elements with auto margin */
.mx-auto {
    margin: 0 auto;
}

/* Positioning classes */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

/* Border radius class */
.rounded-md {
    border-radius: 16px;
}

/* Margin classes */
.m-1 {
    margin: 0.5rem;
}
.mt-2 {
    margin: 0.5rem 0;
}

/* Text color class */
.text-gray {
    color: rgb(82, 82, 82);
}

/* Margin class */
.margin {
    margin: 30px 0px;
}
